.menu {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
    margin: 20px auto;
    max-width: 800px;
}

.menu h3 {
    margin: 3px 0px;
}

.menu p {
    margin: 3px 0px;
}

.menu h2 {
    margin: 3px 0px;
    color: brown;
}

.items {
    display: flex;
    justify-content: space-between;
}

.quantity-input {
    max-width: 40px;
    margin-left: 5px;
    border: #000 solid 0.5px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.quantity-input:focus {
    outline: none;
}

.add-btn {
    background: brown;
    padding: 5px 40px;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}