.menu {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
    margin: 40px auto;
    max-width: 800px;
}

.menu h3 {
    margin: 3px 0px;
}

.menu p {
    margin: 3px 0px;
}

.menu h2 {
    margin: 3px 0px;
    color: brown;
}